body {
   background-image: url("images/city1.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

#summaryContainer{
    margin-left: auto;
    margin-right: auto ;
    margin-top: 30px;
    width: 95%;
    height: 100%;
    background-color: #f2f0ed ;
    -moz-box-shadow:     0 0 10px gray;
    -webkit-box-shadow:  0 0 10px gray;
    box-shadow:          0 0 10px gray;
    border-radius: 2px;
}

#skillContainer{
    margin-left: auto;
    margin-top: 30px;
    height:90%;
    font-family:Raleway;
}

#workContainer{
    margin-left: auto;
    margin-right: auto ;
    width: 100% ;
    margin-top: 30px;
    font-family:Raleway;
}

#interestContainer{
    margin-right: auto ;
    margin-top: 30px;
    height:90%;
    font-family:Raleway;
}

#profileImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 100%;
    -moz-box-shadow:     0 0 4px gray;
    -webkit-box-shadow:  0 0 4px gray;
    box-shadow:          0 0 4px gray;
}

#profileImageCol{
    padding: 10px;
}

#profileName{
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-weight: bold;
    font-family: Raleway ;
}

#summary{
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px ;
    font-family: Raleway ;
}

.leftCol{
    background-image: linear-gradient(to right, white,  #f2f0ed  );
    text-align: center;
}

.rightCol{
    background-image: linear-gradient(to left, white,  #f2f0ed  );
    text-align: center;
}

.tagImage{
    width: 40px;
    height: 40px;
    float: right;
}

#workCol{
    background-image: linear-gradient(to left, white,  #f2f0ed  );
}